<!DOCTYPE html>
<html lang="en">
  <head><%- include("../../views/head") %></head>  
  <body class= "<% title %> div-med container-fluid pad-lg ">

    <%- include("../../views/header") %>

<h1>from lib/about/about</h1>  

    <%- include('../../views/footer'); %>
    <% include ../../views/jsdefaults.ejs %>

  </body>
</html>