<!DOCTYPE html>
<html lang="en">
  <head><% include head.ejs %></head>  

    <% include header.ejs %>

<div>
  <h3><%= title %></h3>
</div>

    <% include footer.ejs %>
    <% include jsdefaults.ejs %>

  </body>
</html>