<!DOCTYPE html>
<html lang="en">
  <head><% include head.ejs %></head>  
  <body class= "<% title %> div-med container-fluid pad-lg ">

    <% include header.ejs %>

    <!-- this is the main content -->
    <div class="vt-marg-lg pad-sm">
      <p class="txt-xs">global content from views/index.ejs</p>
      <!-- <h1><%= title %> Page</h1> -->

  <div>
    <h1 class="txt-lg txt-bold">
    Express
    </h1>
    the fast, unopinionated, minimalist web framework for node
    <div class="vt-marg-top-lg">
      <p><span class="glyphicon glyphicon-chevron-right"></span>Minimalist</p>
      <p><span class="glyphicon glyphicon-chevron-right"></span>Flexible</p>
      <p><span class="glyphicon glyphicon-chevron-right"></span>Robust web and mobile features</p>
    </div>
  </div>

    <!-- user data table -->
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Firstname</th>
          </tr>
        </thead>
        <tbody>
          <% if(typeof(users) !== "undefined") { %> 
            <% for(let u in users) { %>
              <tr>           
                <td><%= users[u].id%></td>
                <td><%= users[u].name%></td>
              </tr> 
            <% }%> 
          <% } %>
        </tbody>
      </table>
    </div>

    <form action="/add" method="post">
      <input type="text" name="newItem"></input>
      <input type="submit"></input>
    </form>
    </div> <!-- container -->

    <% include footer.ejs %>
    <% include jsdefaults.ejs %>

  </body>
</html>