<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../views/head.ejs %>
  </head>  

  <% include ../../views/header.ejs %>

  <div>
    <h3><%= title %></h3>
  </div>

  <% include ../../views/footer.ejs %>
  <% include ../../views/jsdefaults.ejs %>

  </body>
</html>